<tr is="coral-table-row" class="foundation-collection-navigator"
    data-foundation-collection-navigator-href="#"
    data-id="${properties.bName}"
    data-path="${properties.bName}">
    <td is="coral-table-cell" value="${properties.bName}">
        ${properties.bName}
    </td>
    <td is="coral-table-cell" value="${properties.bVersion}">
        <span>
            ${properties.bVersion}
        </span>
    </td>
    <td is="coral-table-cell" value="${properties.bStatus}">
        <span>
            ${properties.bStatus}
        </span>
    </td>
</tr>
